{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended"],
  "rules": {
    "no-undef": "off",
    "prettier/prettier": "error",
    "linebreak-style": "off"
  }
}
